In [9]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model
from sklearn.cross_validation import train_test_split

In [10]:
from sklearn.datasets import load_boston
boston = load_boston()

In [11]:
boston

{'DESCR': "Boston House Prices dataset\n===========================\n\nNotes\n------\nData Set Characteristics:  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive\n    \n    :Median Value (attribute 14) is usually the target\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttp://archive.ics.uci.edu/ml/datasets/Housing\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n**References**\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)\n",
 'data': array([[  6.32000000e-03,   1.80000000e+01,   2.31000000e+00, ...,
           1.53000000e+01,   3.96900000e+02,   4.98000000e+00],
        [  2.73100000e-02,   0.00000000e+00,   7.07000000e+00, ...,
           1.78000000e+01,   3.96900000e+02,   9.14000000e+00],
        [  2.72900000e-02,   0.00000000e+00,   7.07000000e+00, ...,
           1.78000000e+01,   3.92830000e+02,   4.03000000e+00],
        ...,
        [  6.07600000e-02,   0.00000000e+00,   1.19300000e+01, ...,
           2.10000000e+01,   3.96900000e+02,   5.64000000e+00],
        [  1.09590000e-01,   0.00000000e+00,   1.19300000e+01, ...,
           2.10000000e+01,   3.93450000e+02,   6.48000000e+00],
        [  4.74100000e-02,   0.00000000e+00,   1.19300000e+01, ...,
           2.10000000e+01,   3.96900000e+02,   7.88000000e+00]]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'],
       dtype='<U7'),
 'target': array([ 24. ,  21.6,  34.7,  33.4,  36.2,  28.7,  22.9,  27.1,  16.5,
         18.9,  15. ,  18.9,  21.7,  20.4,  18.2,  19.9,  23.1,  17.5,
         20.2,  18.2,  13.6,  19.6,  15.2,  14.5,  15.6,  13.9,  16.6,
         14.8,  18.4,  21. ,  12.7,  14.5,  13.2,  13.1,  13.5,  18.9,
         20. ,  21. ,  24.7,  30.8,  34.9,  26.6,  25.3,  24.7,  21.2,
         19.3,  20. ,  16.6,  14.4,  19.4,  19.7,  20.5,  25. ,  23.4,
         18.9,  35.4,  24.7,  31.6,  23.3,  19.6,  18.7,  16. ,  22.2,
         25. ,  33. ,  23.5,  19.4,  22. ,  17.4,  20.9,  24.2,  21.7,
         22.8,  23.4,  24.1,  21.4,  20. ,  20.8,  21.2,  20.3,  28. ,
         23.9,  24.8,  22.9,  23.9,  26.6,  22.5,  22.2,  23.6,  28.7,
         22.6,  22. ,  22.9,  25. ,  20.6,  28.4,  21.4,  38.7,  43.8,
         33.2,  27.5,  26.5,  18.6,  19.3,  20.1,  19.5,  19.5,  20.4,
         19.8,  19.4,  21.7,  22.8,  18.8,  18.7,  18.5,  18.3,  21.2,
         19.2,  20.4,  19.3,  22. ,  20.3,  20.5,  17.3,  18.8,  21.4,
         15.7,  16.2,  18. ,  14.3,  19.2,  19.6,  23. ,  18.4,  15.6,
         18.1,  17.4,  17.1,  13.3,  17.8,  14. ,  14.4,  13.4,  15.6,
         11.8,  13.8,  15.6,  14.6,  17.8,  15.4,  21.5,  19.6,  15.3,
         19.4,  17. ,  15.6,  13.1,  41.3,  24.3,  23.3,  27. ,  50. ,
         50. ,  50. ,  22.7,  25. ,  50. ,  23.8,  23.8,  22.3,  17.4,
         19.1,  23.1,  23.6,  22.6,  29.4,  23.2,  24.6,  29.9,  37.2,
         39.8,  36.2,  37.9,  32.5,  26.4,  29.6,  50. ,  32. ,  29.8,
         34.9,  37. ,  30.5,  36.4,  31.1,  29.1,  50. ,  33.3,  30.3,
         34.6,  34.9,  32.9,  24.1,  42.3,  48.5,  50. ,  22.6,  24.4,
         22.5,  24.4,  20. ,  21.7,  19.3,  22.4,  28.1,  23.7,  25. ,
         23.3,  28.7,  21.5,  23. ,  26.7,  21.7,  27.5,  30.1,  44.8,
         50. ,  37.6,  31.6,  46.7,  31.5,  24.3,  31.7,  41.7,  48.3,
         29. ,  24. ,  25.1,  31.5,  23.7,  23.3,  22. ,  20.1,  22.2,
         23.7,  17.6,  18.5,  24.3,  20.5,  24.5,  26.2,  24.4,  24.8,
         29.6,  42.8,  21.9,  20.9,  44. ,  50. ,  36. ,  30.1,  33.8,
         43.1,  48.8,  31. ,  36.5,  22.8,  30.7,  50. ,  43.5,  20.7,
         21.1,  25.2,  24.4,  35.2,  32.4,  32. ,  33.2,  33.1,  29.1,
         35.1,  45.4,  35.4,  46. ,  50. ,  32.2,  22. ,  20.1,  23.2,
         22.3,  24.8,  28.5,  37.3,  27.9,  23.9,  21.7,  28.6,  27.1,
         20.3,  22.5,  29. ,  24.8,  22. ,  26.4,  33.1,  36.1,  28.4,
         33.4,  28.2,  22.8,  20.3,  16.1,  22.1,  19.4,  21.6,  23.8,
         16.2,  17.8,  19.8,  23.1,  21. ,  23.8,  23.1,  20.4,  18.5,
         25. ,  24.6,  23. ,  22.2,  19.3,  22.6,  19.8,  17.1,  19.4,
         22.2,  20.7,  21.1,  19.5,  18.5,  20.6,  19. ,  18.7,  32.7,
         16.5,  23.9,  31.2,  17.5,  17.2,  23.1,  24.5,  26.6,  22.9,
         24.1,  18.6,  30.1,  18.2,  20.6,  17.8,  21.7,  22.7,  22.6,
         25. ,  19.9,  20.8,  16.8,  21.9,  27.5,  21.9,  23.1,  50. ,
         50. ,  50. ,  50. ,  50. ,  13.8,  13.8,  15. ,  13.9,  13.3,
         13.1,  10.2,  10.4,  10.9,  11.3,  12.3,   8.8,   7.2,  10.5,
          7.4,  10.2,  11.5,  15.1,  23.2,   9.7,  13.8,  12.7,  13.1,
         12.5,   8.5,   5. ,   6.3,   5.6,   7.2,  12.1,   8.3,   8.5,
          5. ,  11.9,  27.9,  17.2,  27.5,  15. ,  17.2,  17.9,  16.3,
          7. ,   7.2,   7.5,  10.4,   8.8,   8.4,  16.7,  14.2,  20.8,
         13.4,  11.7,   8.3,  10.2,  10.9,  11. ,   9.5,  14.5,  14.1,
         16.1,  14.3,  11.7,  13.4,   9.6,   8.7,   8.4,  12.8,  10.5,
         17.1,  18.4,  15.4,  10.8,  11.8,  14.9,  12.6,  14.1,  13. ,
         13.4,  15.2,  16.1,  17.8,  14.9,  14.1,  12.7,  13.5,  14.9,
         20. ,  16.4,  17.7,  19.5,  20.2,  21.4,  19.9,  19. ,  19.1,
         19.1,  20.1,  19.9,  19.6,  23.2,  29.8,  13.8,  13.3,  16.7,
         12. ,  14.6,  21.4,  23. ,  23.7,  25. ,  21.8,  20.6,  21.2,
         19.1,  20.6,  15.2,   7. ,   8.1,  13.6,  20.1,  21.8,  24.5,
         23.1,  19.7,  18.3,  21.2,  17.5,  16.8,  22.4,  20.6,  23.9,
         22. ,  11.9])}

In [12]:
df_x=pd.DataFrame(boston.data,columns=boston.feature_names)

In [13]:
df_y=pd.DataFrame(boston.target)

In [14]:
df_x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
df_x.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [17]:
df_x.index

RangeIndex(start=0, stop=506, step=1)

In [19]:
df_x.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505], dtype=int64)

In [20]:
df_x.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [22]:
print(df_x.columns.values)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [23]:
df_x.values

array([[  6.32000000e-03,   1.80000000e+01,   2.31000000e+00, ...,
          1.53000000e+01,   3.96900000e+02,   4.98000000e+00],
       [  2.73100000e-02,   0.00000000e+00,   7.07000000e+00, ...,
          1.78000000e+01,   3.96900000e+02,   9.14000000e+00],
       [  2.72900000e-02,   0.00000000e+00,   7.07000000e+00, ...,
          1.78000000e+01,   3.92830000e+02,   4.03000000e+00],
       ...,
       [  6.07600000e-02,   0.00000000e+00,   1.19300000e+01, ...,
          2.10000000e+01,   3.96900000e+02,   5.64000000e+00],
       [  1.09590000e-01,   0.00000000e+00,   1.19300000e+01, ...,
          2.10000000e+01,   3.93450000e+02,   6.48000000e+00],
       [  4.74100000e-02,   0.00000000e+00,   1.19300000e+01, ...,
          2.10000000e+01,   3.96900000e+02,   7.88000000e+00]])

In [24]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [25]:
df_x.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [29]:
df_x.iloc[3:5,0:2]

      CRIM   ZN
3  0.03237  0.0
4  0.06905  0.0

In [30]:
#Showing label slicing, both endpoints are included
df_x.loc[1:2,['CRIM','ZN']]

      CRIM   ZN
1  0.02731  0.0
2  0.02729  0.0

In [31]:
df_x.loc[:,['NOX','AGE']]

       NOX    AGE
0    0.538   65.2
1    0.469   78.9
2    0.469   61.1
3    0.458   45.8
4    0.458   54.2
5    0.458   58.7
6    0.524   66.6
7    0.524   96.1
8    0.524  100.0
9    0.524   85.9
10   0.524   94.3
11   0.524   82.9
12   0.524   39.0
13   0.538   61.8
14   0.538   84.5
15   0.538   56.5
16   0.538   29.3
17   0.538   81.7
18   0.538   36.6
19   0.538   69.5
20   0.538   98.1
21   0.538   89.2
22   0.538   91.7
23   0.538  100.0
24   0.538   94.1
25   0.538   85.7
26   0.538   90.3
27   0.538   88.8
28   0.538   94.4
29   0.538   87.3
..     ...    ...
476  0.614   93.6
477  0.614   97.3
478  0.614   96.7
479  0.614   88.0
480  0.532   64.7
481  0.532   74.9
482  0.532   77.0
483  0.532   40.3
484  0.583   41.9
485  0.583   51.9
486  0.583   79.8
487  0.583   53.2
488  0.609   92.7
489  0.609   98.3
490  0.609   98.0
491  0.609   98.8
492  0.609   83.5
493  0.585   54.0
494  0.585   42.6
495  0.585   28.8
496  0.585   72.9
497  0.585   70.6
498  0.585   65.3
499  0.585   73.5
500  0.585   79.7
501  0.573   69.1
502  0.573   76.7
503  0.573   91.0
504  0.573   89.3
505  0.573   80.8

[506 rows x 2 columns]

In [32]:
reg = linear_model.LinearRegression()

In [33]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=4)

In [34]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
192,0.08664,45.0,3.44,0.0,0.437,7.178,26.3,6.4798,5.0,398.0,15.2,390.49,2.87
138,0.24980,0.0,21.89,0.0,0.624,5.857,98.2,1.6686,4.0,437.0,21.2,392.04,21.32
251,0.21409,22.0,5.86,0.0,0.431,6.438,8.9,7.3967,7.0,330.0,19.1,377.07,3.59
13,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4.0,307.0,21.0,396.90,8.26
256,0.01538,90.0,3.75,0.0,0.394,7.454,34.2,6.3361,3.0,244.0,15.9,386.34,3.11

In [35]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
reg.coef_

array([[ -1.14743504e-01,   4.70875035e-02,   8.70282354e-03,
          3.23818824e+00,  -1.67240567e+01,   3.87662996e+00,
         -1.08218769e-02,  -1.54144627e+00,   2.92604151e-01,
         -1.33989537e-02,  -9.07306805e-01,   8.91271054e-03,
         -4.58747039e-01]])

In [40]:
reg.predict(x_train)

array([[ 32.49024381],
       [ 14.19376591],
       [ 24.92818892],
       [ 19.49291568],
       [ 37.24118204],
       [ 31.71925187],
       [ 34.63037003],
       [ 28.84717207],
       [ 29.84998713],
       [ 20.53660692],
       [ 12.96539815],
       [ 29.89984474],
       [ 36.04738715],
       [ 22.81427586],
       [ 41.50242456],
       [ 17.72998846],
       [  4.13896717],
       [ 18.24324664],
       [ 22.6864545 ],
       [ 16.11814782],
       [ 28.41285382],
       [ 28.99351456],
       [ 19.37100874],
       [ 18.09274863],
       [ 36.2879701 ],
       [ 13.41429329],
       [ 14.56232734],
       [ 17.49607426],
       [ 39.35251987],
       [ 15.79600616],
       [ 42.96975122],
       [ 30.76656111],
       [ 29.84726751],
       [ 23.0325671 ],
       [ 13.41111627],
       [ 26.07241898],
       [ 23.12196865],
       [ 18.67448382],
       [ 15.84988499],
       [ 17.82308831],
       [ 21.07555152],
       [ 24.6933408 ],
       [  1.56327191],
       [ 22.96846534],
       [ 19.12616904],
       [ 17.45248674],
       [ 37.30055655],
       [ 19.3930918 ],
       [ 31.4462893 ],
       [ 18.78695532],
       [ 24.91598062],
       [ 14.32726657],
       [ 24.69687023],
       [ 14.16495739],
       [ 40.74835547],
       [ 17.76608249],
       [ 40.60503206],
       [ 15.92220875],
       [ 20.40801553],
       [ 40.03802803],
       [ 34.23139071],
       [ 15.02952807],
       [ 11.61879046],
       [ 22.79655225],
       [ 24.95937193],
       [ 25.44643631],
       [ 14.72955613],
       [ 25.74110596],
       [ 24.97407692],
       [ 21.68637104],
       [ 22.24032666],
       [ 18.66564038],
       [ 13.46367018],
       [ 14.21698636],
       [ 24.30952517],
       [ 18.55234795],
       [ 15.95380448],
       [ 40.49304641],
       [ 19.31440152],
       [ 12.78547285],
       [ 13.57748139],
       [ 24.76945874],
       [ 24.73665466],
       [ 22.01835455],
       [ 23.74638864],
       [ 15.93310518],
       [ 18.30053313],
       [  6.80690646],
       [ 12.63681703],
       [ 13.26318316],
       [ 17.78428172],
       [ 21.26970758],
       [ 31.42528473],
       [  7.78937788],
       [ 13.42474588],
       [ -3.60432508],
       [ 30.51050206],
       [  9.41433272],
       [ 11.49755513],
       [ 25.50214572],
       [ 18.94565193],
       [ 12.00327172],
       [ 28.79545391],
       [ 23.32432589],
       [ 28.77549776],
       [ 19.755715  ],
       [ 19.9382681 ],
       [ 25.07527041],
       [ 29.12681621],
       [ 16.92972686],
       [  9.99810653],
       [ 28.31821748],
       [ 28.85772703],
       [ 30.2354032 ],
       [ 16.84848737],
       [ 20.71868932],
       [ 17.7900852 ],
       [ 13.48696246],
       [ 23.39061847],
       [ 20.435581  ],
       [ 20.91847212],
       [ 36.84583554],
       [ 19.21162004],
       [ 21.36528429],
       [ 14.20404871],
       [ 19.83920409],
       [ 22.0317839 ],
       [ 32.69677735],
       [ 35.90306709],
       [ 32.11677479],
       [ 23.54882883],
       [ 22.74432146],
       [  3.743877  ],
       [ 13.13229875],
       [ 17.95513634],
       [ 22.8207666 ],
       [ 20.68792823],
       [ 20.87665803],
       [ 15.04364796],
       [ 21.0125043 ],
       [ 19.32042441],
       [ 20.74481352],
       [ 33.39170785],
       [ 32.62330876],
       [ 14.02333637],
       [ 21.52511425],
       [ 27.27743211],
       [  6.28048135],
       [ 19.94535123],
       [ 21.72028869],
       [ 22.44116096],
       [ 25.0588084 ],
       [ 30.1818362 ],
       [ 14.12296285],
       [ 25.44364057],
       [ 43.04052256],
       [ 12.64958339],
       [ 17.08078288],
       [ 12.92675679],
       [ 16.88324636],
       [ 16.73561699],
       [ 18.79715106],
       [ 22.45964129],
       [ 20.73510759],
       [ 29.3361419 ],
       [ 21.62898774],
       [ 22.14865524],
       [ 24.83634518],
       [ 27.54197577],
       [ 33.47283226],
       [ 18.27909521],
       [ 25.06869505],
       [ 21.52313069],
       [ 19.7621786 ],
       [ 20.16633467],
       [ 28.75184159],
       [ 30.21850274],
       [ 17.45447979],
       [ 23.7460687 ],
       [ 18.50376628],
       [  9.91072038],
       [ 26.82660532],
       [ 17.04157867],
       [ 14.59889992],
       [ 23.27566443],
       [ 22.79586771],
       [ 25.24553013],
       [ 27.24626179],
       [ 19.25936276],
       [  7.86961196],
       [ 19.89922421],
       [ 24.81853455],
       [ 26.23415073],
       [ 16.10748068],
       [ 25.10491913],
       [ 23.28411131],
       [ 20.46527435],
       [ 35.36229562],
       [ 36.72522067],
       [ 14.10329621],
       [ 36.0808973 ],
       [ 27.11514505],
       [ 19.46743591],
       [ 23.78593615],
       [ 17.73765028],
       [ 19.1222515 ],
       [ 20.01286294],
       [ 31.14475363],
       [ 26.64630093],
       [ 32.62316612],
       [ 14.54536893],
       [ 22.63596725],
       [ 15.50851538],
       [ 23.96909188],
       [ 21.99633103],
       [ 27.7588023 ],
       [ 30.88894349],
       [ 23.29922162],
       [ 17.82017114],
       [ 45.13228122],
       [ 17.35356045],
       [ 24.28612529],
       [ 25.55421381],
       [ 15.82163165],
       [ 20.61693772],
       [  7.59261942],
       [ 20.9239798 ],
       [ 24.04684014],
       [ 31.67393487],
       [ 14.41643369],
       [ 31.96660241],
       [ 19.91087342],
       [ 30.19895429],
       [ 22.50592378],
       [ 20.85180449],
       [ 22.20638152],
       [ 24.96533043],
       [ 25.8599927 ],
       [ 34.12817147],
       [  9.91018787],
       [ 20.41353564],
       [ 13.78162295],
       [ 10.04844877],
       [ 16.4817064 ],
       [  8.33425742],
       [ 16.41877945],
       [ 25.67025417],
       [ 34.4845879 ],
       [ 19.52799581],
       [ 12.81905694],
       [ 28.28111171],
       [ 19.01072433],
       [ 32.88994567],
       [ 19.45188414],
       [ 24.33012994],
       [ 10.58671898],
       [ 21.53921455],
       [ 16.68330986],
       [ 24.75284056],
       [ 34.42566532],
       [ 17.20722764],
       [ 16.76291196],
       [ 22.179365  ],
       [ 35.4044449 ],
       [ 24.66646759],
       [ 26.15347708],
       [ 28.10728208],
       [ 20.41701809],
       [ 22.35057619],
       [ 24.42434426],
       [ 21.49663266],
       [ 20.84691967],
       [ 20.89110476],
       [ 21.2084873 ],
       [  5.15907421],
       [ 19.3189941 ],
       [ 15.29147192],
       [ 22.54580284],
       [ 23.75954981],
       [ 17.89344387],
       [ 24.89425654],
       [ 14.99023185],
       [ 36.06041217],
       [ 32.04792314],
       [ 30.36662561],
       [ 20.78277892],
       [ 10.11674349],
       [ 21.15195367],
       [ 37.90025909],
       [ 21.11199642],
       [ 34.24698989],
       [ 13.86476778],
       [ 34.71180356],
       [ 19.18009383],
       [ 17.18034592],
       [  5.84485845],
       [ 35.64656428],
       [ 24.15148104],
       [ 22.64149204],
       [ 18.76868762],
       [ 21.19561378],
       [ 17.60529545],
       [ 26.95074943],
       [ 17.92140094],
       [  7.17181286],
       [ 23.81460256],
       [ 15.80343636],
       [  6.84297035],
       [ 28.15639654],
       [ 16.64466659],
       [ 15.53628767],
       [ 18.31404848],
       [ 24.19374852],
       [ 21.27188106],
       [ 24.81124145],
       [ 35.53655111],
       [ 23.67073433],
       [ 20.8714489 ],
       [ 20.98732329],
       [ 31.94603415],
       [ 20.83178168],
       [ 27.66505765],
       [ 11.64372095],
       [ 27.93984233],
       [ 29.93535434],
       [ 32.2217904 ],
       [ 32.80134879],
       [ 34.34388781],
       [ 22.13651321],
       [ 25.14361929],
       [ 35.24340075],
       [ 20.24665604],
       [ 13.57892951],
       [ 30.52455253],
       [ 16.1760607 ],
       [ 32.4917594 ],
       [ 24.8689892 ],
       [ 18.12732082],
       [ 25.75046031],
       [ 33.22647883],
       [ 24.32634896],
       [ 28.01260784],
       [ 27.21182576],
       [ 12.94184069],
       [ 21.4335084 ],
       [ 21.67263452],
       [ 17.12416117],
       [ 28.53718509],
       [ 35.1303321 ],
       [ 18.17630396],
       [ 24.02412042],
       [ 33.89321062],
       [ 28.35247057],
       [  2.34233936],
       [ 27.56670857],
       [ 26.87092662],
       [ 35.76849859],
       [ 13.26377044],
       [ 16.28442913],
       [ 27.37372342],
       [ 25.89267118],
       [ 13.79836659],
       [ 27.42090094],
       [ 18.35833616],
       [ 22.82303164],
       [ 17.42867891],
       [ 16.01072658],
       [ 11.99661201],
       [  6.79913841],
       [ 25.9159644 ],
       [ 31.49264419],
       [ 24.53432297],
       [ 17.9506613 ],
       [ 29.05460243],
       [ 15.23366296],
       [ 17.71036104],
       [ 30.54462167],
       [ 29.64902313],
       [  6.16846437],
       [ 27.58805707],
       [ 15.51513381],
       [ 24.30906363],
       [ 23.03742154],
       [ 15.56158503],
       [ 24.27278683],
       [ 20.58932581],
       [ 25.21085916],
       [ 27.36608935],
       [ 26.78912417],
       [ 26.82294892],
       [ 19.89694595],
       [ 18.78222478],
       [ 24.75835179],
       [ 21.68776817],
       [ 19.77336352],
       [ 35.43158203],
       [ 12.68227273],
       [ 25.89559937],
       [ 21.86668693],
       [  8.49664532],
       [ 32.46324819],
       [ 13.11649085],
       [ 26.42248222],
       [ 20.86665   ]])

In [43]:
y_train

        0
192  36.4
138  13.3
251  24.8
13   20.4
256  44.0
299  29.0
180  39.8
92   22.9
219  23.0
152  15.3
214  23.7
191  30.5
276  33.2
184  26.4
163  50.0
421  14.2
490   8.1
61   16.0
76   20.0
397   8.5
238  23.7
302  26.4
323  18.5
459  20.0
166  50.0
423  13.4
33   13.1
394  12.7
225  50.0
24   15.6
..    ...
149  15.4
21   19.6
183  32.5
0    24.0
387   7.4
52   25.0
126  15.7
294  21.7
44   21.2
434  11.7
164  22.7
500  16.8
313  21.6
503  23.9
311  22.1
94   20.6
109  19.4
359  22.6
252  29.6
58   23.3
393  13.8
306  33.4
456  12.7
87   22.2
360  25.0
385   7.2
197  30.3
439  12.8
174  22.6
122  20.5

[404 rows x 1 columns]

In [37]:
reg.predict(x_test)

array([[ 12.06508881],
       [ 26.98544801],
       [ 17.59242607],
       [ 18.15842166],
       [ 36.91656975],
       [ 25.43573299],
       [ 31.08610267],
       [ 19.7198111 ],
       [ 19.63707329],
       [ 22.95805783],
       [ 28.38566642],
       [ 28.49200286],
       [ 19.00260488],
       [ 32.42578552],
       [ 21.52409329],
       [ 15.20850151],
       [ 21.23763462],
       [ 11.60093062],
       [ 11.38018796],
       [ 13.62527521],
       [  5.65831897],
       [ 17.34095216],
       [ 20.81305124],
       [ 22.51181212],
       [ 16.39301984],
       [ 20.32279223],
       [ 17.89495414],
       [ 14.23685883],
       [ 21.08606151],
       [ 17.50432715],
       [ 14.50006271],
       [ 23.63998403],
       [ 34.31768468],
       [ 22.23613308],
       [ 16.82042372],
       [ 20.15196012],
       [ 30.67786122],
       [ 35.60991076],
       [ 23.50419347],
       [ 24.67227487],
       [ 36.91121083],
       [ 32.34217047],
       [ 19.10793629],
       [ 32.1983094 ],
       [ 33.42967099],
       [ 25.53182714],
       [ 40.63022496],
       [ 18.21661123],
       [ 19.33922512],
       [ 23.80347638],
       [ 33.42145032],
       [ 26.14932391],
       [ 18.09348831],
       [ 28.20740859],
       [ 13.36375701],
       [ 23.34559702],
       [ 24.44787362],
       [ 33.55417247],
       [ 16.70358813],
       [ 36.57198614],
       [ 15.69970374],
       [ 18.53837398],
       [ 32.14966264],
       [ 15.50497853],
       [ 39.02306656],
       [ 27.3802001 ],
       [ 31.96945412],
       [ 10.04948066],
       [ 19.12888926],
       [ 21.72507855],
       [ 23.14985491],
       [ 22.82968181],
       [ 22.50573116],
       [ 28.2154115 ],
       [ 17.12753638],
       [ 23.0769054 ],
       [ 16.65810264],
       [ 25.18167994],
       [ 13.68123205],
       [ 19.78570713],
       [ 22.31929876],
       [ 20.23599944],
       [ 28.36140561],
       [ 19.12682135],
       [ 30.49416458],
       [ 22.2628809 ],
       [ 29.98336484],
       [ 19.27691266],
       [ 23.74333026],
       [ 38.32047363],
       [ 31.24834261],
       [ 41.91630239],
       [ 18.61520467],
       [ 37.46825552],
       [ 19.65956084],
       [ 23.45085031],
       [ 26.55883415],
       [ 22.39913073],
       [  9.58873937],
       [ 20.39482401],
       [  9.18010124],
       [ 27.36961983]])

In [51]:

#mean square error 
print(np.mean((reg.predict(x_test) - y_test)**2))

#mean absolute error 
print(np.mean(abs((reg.predict(x_test) - y_test))))

print(reg.score(x_train, y_train))
print(reg.score(x_test, y_test))

0    25.407977
dtype: float64
0    3.366331
dtype: float64
0.741450239507
0.726470137968

In [7]:
# Cross Validation Regression MAE
import pandas
from sklearn import cross_validation
from sklearn.linear_model import LinearRegression
url = "https://goo.gl/sXleFv"
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO',
'B', 'LSTAT', 'MEDV']
dataframe = pandas.read_csv(url, delim_whitespace=True, names=names)
array = dataframe.values
X = array[:,0:13]
Y = array[:,13]
num_folds = 10
num_instances = len(X)
seed = 7
kfold = cross_validation.KFold(n=num_instances, n_folds=num_folds, random_state=seed)
model = LinearRegression()
scoring = 'mean_absolute_error'
results = cross_validation.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print("MAE: {0} ({1})".format(results.mean(), results.std()))

scoring = 'mean_squared_error'
results = cross_validation.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print("MSE: {0} ({1})".format(results.mean(), results.std()))

print("RMSE: {0} ({1})".format(results.mean(), results.std()))

sqrt = abs(results.mean())**(1/2.0)
print("RMSE: {0}".format(sqrt))

scoring = 'r2'
results = cross_validation.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print("R^2: {0} ({1})".format(results.mean(), results.std()))

MAE: -4.004946635323951 (2.0835992687095755)
MSE: -34.705255944524446 (45.57399920030799)
RMSE: -34.705255944524446 (45.57399920030799)
RMSE: 5.891116697581575
R^2: 0.2025289900605598 (0.5952960169512658)

C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_absolute_error was renamed to neg_mean_absolute_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
C:\Users\mohamed.noordeen\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\scorer.py:90: DeprecationWarning: Scoring method mean_squared_error was renamed to neg_mean_squared_error in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)